body{
    margin: auto;
    width: 80%;
    background-color: rgb(254,254,90);
}
header nav li a{
    text-transform: uppercase;
    color: rgb(31,33,32);
    text-decoration:none;
    font-family: 'Arbutus Slab';
    display:block;
    padding: 10px;

}
header nav li a:hover{
    color: rgba(84, 83, 83, 0.9);
    letter-spacing: 5px;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
 }
header nav li{
    font-size: 15px;
    display: flex;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(9, 0, 0, 0.675);
    overflow: hidden;
}
header nav li:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.24);
}
header nav ul{
    position: absolute;
    right: 0;
    top: 0;
}
header nav{
    background-color: rgb(254,254,90);
    margin-top: 50px;
    position: relative;
    padding: 0px;
    height: 50px;
}

.logo{
    width: 50px;
    margin-left: 10px;
}
.banner{
    width: 100%;
}
#title{
    font-family:'Arbutus Slab';
    font-size: 40px;
    text-align: center;
    color: rgb(31,33,32);
    margin-top: 50px;
}
#title:hover{
    color: rgba(2, 161, 211, 0.924);
    letter-spacing: 5px;
}
#text{
    color: rgb(84,84,86);
    font-size: 15px;
    text-align: center;
    line-height: 2.0;
    margin-bottom: 80px;
}
.menuhorizontal{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.menuhorizontal ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menuhorizontal li {
    width: calc(33.33% - 20px);
    margin-bottom: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(9, 0, 0, 0.675);
    overflow: hidden;
}
.menuhorizontal li:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.24);
}
.menuhorizontal img{
    width: 100%;
    height: auto;
}
.menuhorizontal h2{
    color: rgb(84,84,86);
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family:'Arbutus Slab';
    letter-spacing: 2px;
}
.menuhorizontal h2:hover{
    color: rgba(2, 161, 211, 0.924);
    letter-spacing: 5px;
}
.menuhorizontal p {
    font-family:'Arbutus Slab';
    color: rgb(84,84,86);
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 0 20px;
}
.menuhorizontal a{
    text-decoration:none;
}
#cas{
    color: rgb(31,33,32);
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Arbutus Slab';
    line-height: 0.5;
    text-align: center;
    margin: 50px 0;
}
footer {
    font-size: 15px;
    font-family: 'Arbutus Slab';
    letter-spacing: 2px;
    margin: 50px 0;
    padding: 10px;
    text-align: center;
    color: rgb(37,68,86);
    background-color: rgb(12, 32, 43);
}
#insta {
    width: 80%;
    margin: auto;
    height: 100%;
}
#insta h2{
    color: rgb(31,33,32);
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Arbutus Slab';
    line-height: 0.5;
    text-align: center;
} 
@media (max-width: 768px) {
    #title, #instatitle, .logo {
      display: none;
    }
    .menuhorizontal li {
        width: 100%;
    }
    body {
        width: 100%;
      }
        header nav ul {
        position:relative; 
        }
        header nav li {
        width: 100%;
        }
        header nav li a{
            text-align: center;
        }
}